
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(255, 187, 132);
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

.doggo {
  margin:5px;
  cursor: pointer;
  position: relative;

}

.dogs {
  height: calc(100vh - 7rem);
  overflow:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 4rem;
}
.doggo-title {
  display:none;
  position: absolute;
  width:calc(100% - 10px);
  bottom:4px;
  left:0;
  right:0;
  background:rgba(255,255,255,0.35);
  font-weight: bold;
  font-size:0.7rem;
  padding:2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doggo:hover .doggo-title{
  display:block;
}
.input-wrap {
  width: 40%;
  display:flex;
  margin-right: 1rem;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
